# System
.DS_Store

# Object files
*.o

# Libraries
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
Colleen
Grace
Sully
*.exe
*.out

# Output files
Grace_kid.*
Sully_*

# Debug files
*.dSYM/

# Test and sandbox files
tmp_*
*sandbox*